In [3]:
from censaurus.dataset import Dataset
import pandas as pd

In [4]:
example_variables = ['NAICS2017', 'NAICS2017_LABEL', 'SEX', 'SEX_LABEL', 'ETH_GROUP', 'ETH_GROUP_LABEL', 'RACE_GROUP', 'RACE_GROUP_LABEL', 'VET_GROUP', 'VET_GROUP_LABEL', 'EMPSZFI', 'EMPSZFI_LABEL', 'YEAR', 'FIRMPDEMP', 'FIRMPDEMP_F', 'RCPPDEMP', 'RCPPDEMP_F', 'EMP', 'EMP_F', 'PAYANN', 'PAYANN_F', 'FIRMPDEMP_S', 'FIRMPDEMP_S_F', 'RCPPDEMP_S', 'RCPPDEMP_S_F', 'EMP_S', 'EMP_S_F', 'PAYANN_S', 'PAYANN_S_F']

In [5]:
d = Dataset(url_extension='2021/abscs', map_service='tigerWMS_Current')

In [6]:
data = d.us(variables=example_variables)

In [7]:
#print(data)

      NAICS2017            NAICS2017_LABEL  SEX SEX_LABEL ETH_GROUP  \
0            00      Total for all sectors  001     Total       001
1            00      Total for all sectors  001     Total       001
2            00      Total for all sectors  001     Total       001
3            00      Total for all sectors  001     Total       001
4            00      Total for all sectors  001     Total       001
...         ...                        ...  ...       ...       ...
55865        99  Industries not classified  001     Total       001
55866        99  Industries not classified  001     Total       001
55867        99  Industries not classified  001     Total       001
55868        99  Industries not classified  001     Total       001
55869        99  Industries not classified  001     Total       001

      ETH_GROUP_LABEL RACE_GROUP              RACE_GROUP_LABEL VET_GROUP  \
0               Total         00                         Total       001
1               Total         00                         Total       001
2               Total         00                         Total       001
3               Total         00                         Total       001
4               Total         00                         Total       001
...               ...        ...                           ...       ...
55865           Total         91  Equally minority/nonminority       003
55866           Total         91  Equally minority/nonminority       003
55867           Total         91  Equally minority/nonminority       003
55868           Total         91  Equally minority/nonminority       003
55869           Total         91  Equally minority/nonminority       003

                  VET_GROUP_LABEL  ... FIRMPDEMP_S_F RCPPDEMP_S RCPPDEMP_S_F  \
0                           Total  ...          None        0.9         None
1                           Total  ...          None        4.0         None
2                           Total  ...          None        0.8         None
3                           Total  ...          None        2.7         None
4                           Total  ...          None        2.2         None
...                           ...  ...           ...        ...          ...
55865  Equally veteran/nonveteran  ...          None        0.0            S
55866  Equally veteran/nonveteran  ...          None        0.0            S
55867  Equally veteran/nonveteran  ...             S        0.0            S
55868  Equally veteran/nonveteran  ...             S        0.0            S
55869  Equally veteran/nonveteran  ...          None        0.0            S

       EMP_S EMP_S_F  PAYANN_S PAYANN_S_F           NAME     GEO_ID  us
0        0.4    None       0.4       None  United States  0100000US   1
1        0.0    None       3.5       None  United States  0100000US   1
2        0.2    None       0.8       None  United States  0100000US   1
3        0.4    None       0.9       None  United States  0100000US   1
4        0.9    None       1.2       None  United States  0100000US   1
...      ...     ...       ...        ...            ...        ...  ..
55865   42.9    None      25.9       None  United States  0100000US   1
55866    0.0    None      33.6       None  United States  0100000US   1
55867    0.0       S       0.0          S  United States  0100000US   1
55868    0.0       S       0.0          S  United States  0100000US   1
55869   42.9    None      25.9       None  United States  0100000US   1

[55870 rows x 32 columns]

In [8]:
df = pd.DataFrame(data)

In [10]:
df.head(10)

,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,...,FIRMPDEMP_S_F,RCPPDEMP_S,RCPPDEMP_S_F,EMP_S,EMP_S_F,PAYANN_S,PAYANN_S_F,NAME,GEO_ID,us
0,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,0.9,None,0.4,None,0.4,None,United States,0100000US,1
1,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,4.0,None,0.0,None,3.5,None,United States,0100000US,1
2,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,0.8,None,0.2,None,0.8,None,United States,0100000US,1
3,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,2.7,None,0.4,None,0.9,None,United States,0100000US,1
4,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,2.2,None,0.9,None,1.2,None,United States,0100000US,1
5,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,2.3,None,1.4,None,1.5,None,United States,0100000US,1
6,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,7.1,None,1.8,None,2.4,None,United States,0100000US,1
7,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,8.5,None,3.1,None,3.6,None,United States,0100000US,1
8,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,6.8,None,4.5,None,4.6,None,United States,0100000US,1
9,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,...,None,1.9,None,0.7,None,1.1,None,United States,0100000US,1